<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
   {% block header %}
     
    <div class="flex justify-between items-center mb-8">
        <a href="{% url 'landing' %}" class="flex items-center space-x-2 select-none group">
           <img 
           src="" alt="">
            <span class="text-4xl font-black text-[#FF0000] tracking-tight font-sans">Videx</span>
        </a>
        
        <a href="{% url 'video_upload' %}" class="border-2 border-[#FF0000] text-[#FF0000] font-bold px-6 py-2 rounded-lg hover:bg-red-50 transition duration-150 text-sm">
            Add Video
        </a>
    </div>
    {% endblock %}
    {% block content %}
        
    {% endblock %}
    
</body>
</html>