{% extends 'base.html' %}

{% block content %}
<div class="max-w-6xl mx-auto px-4 py-10">
    <h1 class="text-3xl font-bold text-gray-900 mb-8">Upload your video</h1>

    <form method="POST" enctype="multipart/form-data" class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        {% csrf_token %}

        <div>
               {{ form. }}

        </div>

        

            <div>
                {{ form.description }}
            </div>

           <div class="relative">
                {{ form.quality }}
                
                </div>
        

            <div>
                {{ form.date_created }}
            </div>
    

               
            <div class="">
            
                <span class="">Upload video</span>
            </div>

            <div class="">
                <input type="file" name="thumbnail" id="id_thumbnail" class="">
                
                <div class="">
                    
                    <span class="">Upload Thumbnail</span>
                </div>
            </div>

            <div class="pt-2">
                <button type="submit" >
                    Upload
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}